@import '../../styles/variables';

.add_new_driver_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.add_new_driver_form {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  background-color: $--default-white;
  border-radius: 6px;
  padding: 2rem;
  margin-bottom: 2rem;
}

.add_new_driver_submit{
  display: block;
  width: 300px;
  margin: 0 auto;
}