@import '../../styles/variables';

.header_nav_tabs {
  color: $--default-white;
  background-color: $--dark_gray_first;
}

.main_header_tabs{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}